{% extends 'base.html' %}
{% block body %}
    <style>
        h1{
            margin-top: 6%;
        }
        ol li {
            list-style-type: decimal;
        }
    </style>
    <div class="row" style="padding: 2% 10%;margin: 5%">
        <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
            <div style="background-color: #051c2c; width: 250px; padding: 5px 30px;">
                <a style=" color: white; margin-bottom: 0;">雇主担保移民类别如下</a>
            </div>
        </div>

        <ul class="nav nav-pills flex-column col-xs-4 col-md-3 " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#home">澳洲子女移民101类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu1">澳洲父母移民</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu2">澳洲配偶移民309类、100类</a>
            </li>
        </ul>

        <div class="tab-content col-xs-8 col-md-9" style="">
            <!-- 1 !-->
            <div id="home" class="container tab-pane active"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>由父母或父亲/母亲的配偶担保；</p></li>

                    <li><p>单身；</p></li>

                    <li><p>年龄低于18岁或18~25岁之间的全日制学生；</p></li>

                    <li><p>申请者提交申请时必须在澳大利亚之外，且签证决议时孩子必须在澳大利亚之外。</p></li>
                </ol>
            </div>

            <!-- 2 !-->
            <div id="menu1" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>申请人必须是澳洲公民或澳大利亚永久居民的父母</p></li>

                    <li><p>申请人的子女或者子女配偶，作为担保人必须定居在澳大利亚至少超两年</p></li>

                    <li><p>申请人至少有一半或者一半以上的子女成为澳洲永久居民或公民两年以上并长期居住在澳大利亚</p></li>

                    <li><p>通过家庭成员测试（）</p></li>
                </ol>
            </div>

            <!-- 3 !-->
            <div id="menu2" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>申请人的配偶（担保人）为澳洲永久居民或公民两年以上</p></li>

                    <li><p>申请人与担保人为真实的婚姻关系并在申请期间依然保持该关系</p></li>

                    <li><p>申请人必须符合有关的健康和品行要求</p></li>

                    <li><p>申请人如可证明与配偶关系存续较长时间便可直接获签永久配偶移民签证（100类）</p></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}