{% extends 'base.html' %}
{% block body %}
    <style>
        h2{
            margin-top: 6%;
        }
        ol li {
            list-style-type: decimal;
        }
    </style>
    <div class="row" style="padding: 2% 10%;margin: 5%">

        <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
            <div style="background-color: #051c2c; width: 250px; padding: 5px 30px;">
                <a style=" color: white; margin-bottom: 0;">雇主担保移民类别如下</a>
            </div>
        </div>

        <!-- 导航 !-->
        <ul class="nav nav-pills flex-column col-xs-4 col-md-3 " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#home">澳大利亚186类别雇主担保移民</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu1">澳大利亚187类别偏远地区雇主担保移民</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu2">澳大利亚482类别雇主担保临时工作签证</a>
            </li>
        </ul>

        <div class="tab-content col-xs-8 col-md-9" style="">
            <!-- 1 !-->
        <div id="home" class="container tab-pane active"><br>
            <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                    <a style=" color: white; margin-bottom: 0;">简介</a>
                </div>
            </div>
            <ul>
                <p>澳洲雇主担保移民签证属于澳洲雇主担保技术移民项目，澳洲政府允许澳洲境内的企业或者机构从海外聘请专业人才，并担保被聘用的人到澳大利亚工作、生活的签证项目，<i style="color: #033663">申请人一步到位全家获得绿卡</i>。该签证适合企业高管、私营企业主及海归人士</p>
            </ul>

            <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                    <a style=" color: white; margin-bottom: 0;">项目优势</a>
                </div>
            </div>
            <ul>
                <li><p>一步到位获得永居身份</p></li>
                <li><p>完全享受与澳大利亚本地人同等的福利待遇</p></li>
                <li><p>中小学 免费教育，全家免费医疗，各项政府生活、住房津贴养老金</p></li>
                <li><p>澳洲雇主提供长期稳定的工作机会</p></li>
            </ul>

            <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                    <a style=" color: white; margin-bottom: 0;">申请条件</a>
                </div>
            </div>
            <ul>
                <li><p>本科以上学历</p></li>
                <li><p>雅思每项6分</p></li>
                <li><p>年龄50周岁以下</p></li>
                <li><p>从事专业工作3年以上</p></li>
                <li><p>通过职业评估</p></li>
                <li><p>获得担保</p></li>
            </ul>
        </div>

            <!-- 2 !-->
        <div id="menu1" class="container tab-pane fade"><br>
            <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                    <a style=" color: white; margin-bottom: 0;">简介</a>
                </div>
            </div>
            <ul>
                <p>
                    偏于地区雇主担保移民属于澳洲雇主担保技术移民项目，澳洲政府允许澳洲二线城市的企业或者机构从海外聘请人才来澳工作。
                </p>
                <p><i style="color: #033663">申请人一步到位全家获得绿卡。</i></p>

            </ul>


            <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                    <a style=" color: white; margin-bottom: 0;">申请条件</a>
                </div>
            </div>
            <ul>
                <li><p>大专或以上学历</p></li>
                <li><p>雅思每项6分</p></li>
                <li><p>年龄50周岁以下</p></li>
                <li><p>获得担保</p></li>
            </ul>
        </div>


            <!-- 3 !-->
            <div id="menu2" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <p>
                      482签证是一个临时商务工作签证，由雇主提名海外申请人，并担保为其工作的签证，在满足一定条件后可申请转永居签证（即绿卡）。因职业不同，482签证分为有效期为2年/4年的商务工作签证：
                </p>
                <ol>
                    <li>持有短期2年临时签证，可以在到期时延期一次，工作满3年或4年离境后可再申请绿卡（申请186/187雇主担保永居签证或其他独立技术移民永居签证）</li>
                    <li>持有中长期4年临时签证，在该雇主工作满3年后，可直接在境内转永居签证申请（绿卡）。</li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 400px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">短期两年482临时商务工作签证，申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>年龄无限制（建议42岁以下）</li>
                    <li>雅思平均分5分（每项不低于4.5分</li>
                    <li>从事专业工作2年（无需职业评估，技工类职位除外）</li>
                    <li>提名职位在短期职业清单上</li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width:400px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">中长期四年482临时商务工作签证，申请条件</a>
                    </div>
                </div>

                <ol>
                    <li>年龄无限制（建议42岁以下）</li>

                    <li>雅思每项5分</li>

                    <li>从事专业工作2年（无需职业评估，技工类职位除外）</li>

                    <li>提名职位在中长期职业清单上或区域职业清单上</li>
                </ol>



                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <li><p>482签证是澳大利亚政府为澳大利亚企业从海外引进各类专业人士或者技术工人而设立的一种工作签证。可办理482签证的工种有400多个，其中包括各类经理、专业人员、技工等。中长期签证的有效期为4年，雇员在澳大利亚工作满3年后可以申请雇主担保移民。</p></li>

                    <li><p>482签证优势：482签证的英文要求，远远低于技术移民所要求的4个7分的要求；仅需2年的工作经验，并且无需进行职业评估即可递交申请。</p></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}