{% extends 'base.html' %}
{% block body %}
    <style>
        h2{
            margin-top: 6%;
        }
        ol li {
            list-style-type: decimal;
        }
    </style>
    <div class="row" style="padding: 2% 10%;margin: 5%">
        <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
            <div style="background-color: #051c2c; width: 150px; padding: 5px 30px;">
                <a style=" color: white; margin-bottom: 0;">投资移民</a>
            </div>
        </div>
        <!-- 导航 !-->
        <ul class="nav nav-pills flex-column col-xs-4 col-md-3 " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#home">188A商业创新类签证</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu1">188B投资者签证</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu2">188C重大投资者签证</a>
            </li>

            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu3">188E创新企业家签证</a>
            </li>

            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu4">188D卓越投资者签证</a>
            </li>

            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu5">132商业天才类签证</a>
            </li>
        </ul>

        <div class="tab-content col-xs-8 col-md-9" style="">
            <!-- 1 !-->
            <div id="home" class="container tab-pane active"><br>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>​此签证属于澳洲商业技术移民，通常也被称为澳洲投资移民，澳洲商业移民等，前身为163A签证。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>主申请人年龄在55岁以下；</li>
                    <li>获得州政府提名；</li>
                    <li>商业甄选(EOI)评分达到65分；</li>
                    <li>家庭净资产：主申请人及副申请人名下至少80万澳币净资产；</li>
                    <li>申请人有直接参与经营及管理企业的成功经历；</li>
                    <li>过去4个财政年度中至少有2个财政年度的年营业额达到50万澳元以上（最多可由2个公司组成）；</li>
                    <li>如申请人使用两家或以上作为背景进行申请，则申请人及其配偶过去4年中需在企业持股至少两年并达到以下两点持股要求：
                        <ol style="margin-left: 2%">
                            <li>若企业年营业额低于40万澳币，则需持有该企业51%以上股份；</li>
                            <li>若企业年营业额大于40万澳币，则需持有该企业30%以上股份；</li>
                            <li>上市公司，须持股10%以上股份；</li>
                        </ol>
                    </li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <p>188A作为我公司经典商业移民项目，成功率超过九成。该签证作为为期四年的临居签证，对申请人年龄要求较为宽松；对申请人企业营业额和家庭资产要求为商业移民中最低，适合有4年以上企业经营经验的企业主。下签后，申请人在澳投资生意2年经营并满足政府要求后可转永居签证（绿卡）。本签证对英语学历无硬性要求，但根据申请人条件设置了打分机制，申请人条件需达到65分方可申请。</p>
                </ol>
            </div>

            <!-- 2 !-->
            <div id="menu1" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>为吸引能为澳洲做出重大贡献之投资者所设签证，只要能证明有500万澳元的合法来源，并将该笔资金投资在政策规定领域内即可获得快速批复的临居签证。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>主申请人年龄在55岁以下；</li>
                    <li>获得州政府提名；</li>
                    <li>3年以上的直接管理公司或者成功投资经验；</li>
                    <li>过去5年中至少有1个年申请人或配偶或双方在生意里有至少10%股权，或管理150万澳元的投资；</li>
                    <li>通过以上生意和投资，合法赚取150万澳元；</li>
                    <li>申请前2年商业净资产和家庭净资产达到225万澳币；</li>
                    <li>投资150万澳币至澳洲政府指定债券并持续持有四年；</li>
                    <li>商业甄选(EOI)评分达到65分；</li>
                    <li>愿在投资州居住至少两年；</li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <p>该签证是为期四年之临居签证，对申请人年龄要求较为宽松，无需申请人拥有企业或者公司，但对投资能力尤为看中。申请人需投资澳洲政府指定债券四年，并在澳洲累计住满2年，可转永居签证（绿卡）。该签证也需打分筛选，除考虑申请人资产、投资经验外，对年龄、英语水平、学历也有分别计分。</p>
                </ol>

            </div>

            <!-- 3 !-->
            <div id="menu2" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>本签证为从事投资活动（如股票，期货，基金）之申请人设立，也是为期四年的临居签证。如申请人有突出投资经验，可通过州政府担保将资金转至澳洲政府指定债券持有四年，方可获得绿卡。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>主申请人（或主申请人和副申请人）拥有不少于500万澳币的合法净资产，并可转到澳洲合规投资；</li>
                    <li>需获得州或领地政府或澳洲贸易委员会提名；</li>
                    <li>投资至少500万澳币至符合规定的投资领域：
                        <ol>
                            <li>至少50万澳币到澳洲风险投资或私募产品；</li>
                            <li>至少150万至合规小型企业基金或澳洲证券交易所（ASX）上市的小型企业；</li>
                            <li>最多300万至管理基金或投资到其他合规产品，包括澳交所上市公司、合规公司债券或期票、年金和不动产（住宅房产有10%的限制）；</li>
                        </ol>
                    </li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <p>流程较之以上两种大大简化，对申请人年龄和语言能力无要求，无需商业背景，无需面试，可谓有钱即可移民。</p>
                </ol>
            </div>

            <!-- 4 !-->
            <div id="menu3" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>适合于那些愿意在澳洲投资至少1500万澳币高端投资和希望在澳洲维持业务和投资活动的人士。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>获得澳洲贸易委员会的邀请；</li>
                    <li>雅思平均4.5分，每门不低于4分</li>
                    <li>主申请人为优秀企业家与创新人才，主申请人（或主申请人和副申请人共同）拥有不少于1500万澳币的净资产，并解释其来源；</li>
                    <li>投资1500万澳币至政府指定的投资项目，投资期1年：
                        <ol>
                            <li>澳洲证券交易所上市资产</li>

                            <li>澳洲政府或半政府债券或票据</li>

                            <li>澳交所上市公司（或者上市公司全资子公司）发行的企业债券或票据，或被持有澳洲金融服务执照的债务评级机构评定的投资级澳洲公司债券或票据</li>

                            <li>澳洲有限责任公司</li>

                            <li>澳洲地产（不包括民用住宅地产，对住宅的建投投资西部地域基金净资产的10%）</li>

                            <li>澳洲注册人寿保险公司发行的年金保险</li>

                            <li>州/领地政府批准的慈善捐款</li>
                        </ol>
                    </li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <p>​    对于申请人没有从商背景要求，适合人群除了在国内有成功生意的企业家，也十分适合留学生。</p>
                </ol>
            </div>


            <!-- 5 !-->
            <div id="menu4" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>该签证适合于有一定的英文水平，希望将自己的创新理念成功实现商业化而留在澳大利亚的杰出人才。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>主申请人年龄在55岁以下。</li>
                    <li>获得州政府提名。</li>
                    <li>雅思每项6分。</li>
                    <li>申请人需要创立企业并有意愿继续从事指定的企业家活动（指定的企业家活动包括使产品/服务在澳洲实现商业化相 关的创新想法或在澳洲发展企业/生意(不能经营以下相关类别：居住性的房地产、劳务雇佣、购买澳洲境内的已经在经营的企业或特许经营店）。</li>
                    <li>申请人从特定第三方获得一个或多个共值20万澳元以上的投资合约（第三方仅限于：联邦政府代理、洲/领地政府、公共资助研究机构和注册成为以下两家风投机构:VCLP和ESVCLP的投资者、指定高等教育学府）。</li>
                    <li>在申请人开展创业活动前的12个月内，必须完成来自第三方对创业公司至少10%的投资。</li>
                    <li>申请人必须至少持有至少30%的创业公司股份。</li>
                    <li>四年以后转永居签证（绿卡）,申请人需要审查申请人过去4年的企业经营情况，包括雇佣有澳洲身份的员工人数，投资情况，生意运转情况以及年度销售额大小等。</li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <p>​    对于申请人没有从商背景要求，适合人群除了在国内有成功生意的企业家，也十分适合留学生。</p>
                </ol>
            </div>


            <!-- 6 !-->
            <div id="menu5" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>该签证是目前澳洲所有投资移民中，可以一步到位获取永居签证，并且投资数目较低的类别。申请人无需通过商业甄选（EOI）打分、对英语和学历无任何要求、对居住无量化要求，适合在国内有成功生意，并愿意在澳洲投资的企业家。</li>
                    <li>132商业天才类移民签证分为“132A显著商业成就”和“132B风险投资企业家”两大类别。</li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 370px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">132A 显著商业成就类别，申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>主申请人年龄在55岁以下；</p></li>

                    <li><p>获得州政府提名；</p></li>

                    <li><p>成功的经商（管理）背景，参与日常管理；</p></li>

                    <li><p>家庭净资产：主申请人及副申请人名下（含18周岁以下子女名下）至少150万澳币净资产；</p></li>

                    <li><p>过去4个财政年度中至少有2个财政年度，企业年营业额达到300万澳元以上（最多可由2个企业组成）；</p></li>

                    <li><p>过去4个财政年度中至少有2个财政年度，申请人在企业中的所有者权益净资产超过40万澳元；</p></li>

                    <li><p>申请人及其配偶过去4年中需在企业持股至少两年并达到以下持股要求：</p>
                        <ol>
                            <li><p>若年营业额低于40万澳币，则需持有该企业51%以上股份；</p></li>

                            <li><p>若年营业额大于40万澳币，则需持有该企业30%以上股份；</p></li>

                            <li><p>上市公司，须持股10%以上股份；</p></li>

                            <li><p>根据各州政府要求进行投资；</p></li>
                        </ol>
                    </li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 370px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">132B 风险投资企业家类别，申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>根据各州政府要求进行投资；</li>

                    <li>申请人需要从澳大利亚风险投资公司获得至少100万澳币的风险基金，用于启动和拓展生意；</li>

                    <li>此风险投资公司必须是澳大利亚私募基金及风险资本协会（AVCAL）的成员并为“风险投资”类别的会员。没有此资质的  风险投资公司无法满足此要求。</li>

                    <li>获取基因投资的生意对象必须是有潜力的高价值经营理念企业，并且在澳大利亚处于早期初创阶段，在澳大利亚实现产品商业化、发展或扩充。</li>

                    <li>申请人须与投资公司签署正式的投资协议。</li>
                </ol>
            </div>

        </div>

    </div>
{% endblock %}