{% extends 'base.html' %}
{% block body %}
    <style>
        h2{
            margin-top: 6%;
        }
        ol li {
            list-style-type: decimal;
        }
    </style>
    <div class="row" style="padding: 2% 10%;margin: 5%">
        <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
            <div style="background-color: #051c2c; width: 250px; padding: 5px 30px;">
                <a style=" color: white; margin-bottom: 0;">澳大利亚独立技术移民</a>
            </div>
        </div>

        <!-- 导航 !-->
        <ul class="nav nav-pills flex-column col-xs-4 col-md-3 " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#home">澳大利亚489独立技术移民</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu1">澳洲476类技术认可毕业生签证</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu2">澳洲189类独立技术移民</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu3">澳洲190类独立技术移民</a>
            </li>
        </ul>

        <div class="tab-content col-xs-8 col-md-9" style="">
            <!-- 1 !-->
            <div id="home" class="container tab-pane active"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>澳洲489偏远地区州担保技术移民，此签证是临时居住类签证，有效期4年。在分数不够的情况下（无法直接申请189或者190类别），申请人可选择偏远地区州政府担保或亲属担保，额外获得10分加分。持有此签证后，先在偏远地区居住2年并且工作1年，满足居住和工作要求后，可以转成永居签证。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>年龄45周岁以下；</p></li>

                    <li><p>雅思每项6分；</p></li>

                    <li><p>职业在各个州政府公布清单上，通过职业评估；</p></li>

                    <li><p>满足EOI评分要求，最低达到65分；</p></li>

                    <li><p>获得偏远地区州担保或澳洲偏远地区亲属担保；</p></li>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请流程</a>
                    </div>
                </div>
                <ol>
                    <li><p>进行职业评估；</p></li>

                    <li><p>在移民局提交EOI；</p></li>

                    <li><p>获得偏远地区州政府邀请；</p></li>

                    <li><p>通过偏远地区州政府担保或亲属担保，在移民局递交签证申请；</p></li>

                    <li><p>体检；</p></li>

                    <li><p>提交无犯罪记录证明；</p></li>
                </ol>
            </div>

            <!-- 2 !-->
            <div id="menu1" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>澳洲476类技术认可毕业生签证该签证允许在指定受认可的大学毕业的学生申请。签证申请获批后申请人可在澳洲境居住18个月，居住期间签证持有者可旅游、工作、学习或者通过学习提高语言。签证持有者在满足申请永居条件后也可申请永久居民。如果您过去两年内在所认可的教育机构完成工程类专业的课程（包括本科、硕士、博士及研究生文凭课程），您可以申请476签证。申请该签证无需通过评分，无需技术评估。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>年龄小于31岁；</p></li>

                    <li><p>雅思平均6分，每科不低于5分；</p></li>

                    <li><p>在申请的前两年，必须在认可的教育机构完成工程专业的本科、研究生、博士或研究生文凭课程；</p></li>

                    <li><p>过往未持有过476签证或485签证；</p></li>
                </ol>
                <ol>
                    <p>以下中国受认可的院校：</p>
                    <p>中国：北京师范大学、北京石油大学、北京化工大学、北京工业大学、中国矿业大学、广州大学、上海工程技术大学、上海交通大学、同济大学、清华大学、北京科技大学。</p>
                </ol>
            </div>

            <!-- 3 !-->
            <div id="menu2" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>澳大利亚189类独立技术移民签证主要是指申请人完全以个人的专业技能为背景提出的移民申请,不需要任何担保的独立技术移民永久签证。澳大利亚技术移民189类移民签证持有者及其随行的副申请(配偶和子女)可以在澳大利亚永久的工作、学习和生活,享受澳大利亚的医疗和社会保 障,满足一定的居住条件后可以申请澳大利亚公民。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>年龄45周岁以下；</p></li>

                    <li><p>雅思每项6分；</p></li>

                    <li><p>职业在MLTSSL清单上，通过职业评估；</p></li>

                    <li><p>满足EOI评分要求，最低达到65分；</p></li>

                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请流程</a>
                    </div>
                </div>
                <ol>
                    <li><p>进行职业评估；</p></li>

                    <li><p>在移民局提交EOI；</p></li>

                    <li><p>获得邀请，在移民局递交签证申请;</p></li>

                    <li><p>体检；</p></li>

                    <li><p>提交无犯罪记录证明；</p></li>
                </ol>
            </div>

            <!-- 4 !-->
            <div id="menu3" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>澳洲190签证是澳大利亚技术移民州政府担保签证，申请人在澳洲境内或境外均可申请。州政府担保会有额外5分加分，对于很多只有60分的申请人来说，可以考虑申请州政府担保，从而达到最低分数标准（65分）。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li><p>年龄45周岁以下；</p></li>

                    <li><p>雅思每项6分；</p></li>

                    <li><p>职业在各个州政府公布清单上，通过职业评估；</p></li>

                    <li><p>满足EOI评分要求，最低达到65分；</p></li>

                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请流程</a>
                    </div>
                </div>
                <ol>
                    <li><p>进行职业评估；</p></li>

                    <li><p>在移民局提交EOI；</p></li>

                    <li><p>获得州政府邀请，递交州政府担保申请；</p></li>

                    <li><p>通过州政府担保申请，在移民局递交签证申请；</p></li>

                    <li><p>体检；</p></li>

                    <li><p>提交无犯罪记录证明；</p></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}