{% extends 'base.html' %}
{% block body %}
    <style>
        ol li {
            list-style-type: decimal;
        }
    </style>
    <div class="row" style="padding: 2% 10%;margin: 5%">
        <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
            <div style="background-color: #051c2c; width: 250px; padding: 5px 30px;">
                <a style=" color: white; margin-bottom: 0;">澳洲485类毕业生工作签证</a>
            </div>
        </div>
        <ol>
            <p>485类签证是一种适用于那些在澳洲完成了两年学习的学生的短期临时签证 （Temporary Resident），持有该签证的毕业生可以继续在澳洲学习、工作、旅游等。从2013年年初起，澳大利亚政府将485签证分为了两个分支：Post-Study Work Stream和Graduate Work Stream， 学生可根据自身情况，申请相对应类型的签证。</p>
        </ol>
        <!-- 导航 !-->
        <ul class="nav nav-pills flex-column col-xs-4 col-md-3 " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#home">Post-Study Work Stream</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 60px 20px;" data-toggle="tab"
                   href="#menu1">Graduate Work Stream</a>
            </li>
        </ul>

        <div class="tab-content col-xs-8 col-md-9" style="">
            <!-- 1 !-->
            <div id="home" class="container tab-pane active"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>​此类别签证适合来到澳洲留学时第一个学生签证的申请是在2011年11月5日之后递交的学生，获得签证有效期为2-4年。此类别无需职业评估。</p>
                </ol>

                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>年龄50周岁以下；</li>

                    <li>至少在澳两年全日制课程；</li>

                    <li>获得学士、硕士或博士学位且所读课程是CRICOS注册课程</li>

                    <li>雅思平均分6分，每科不低于5分；</li>

                    <li>需要持有有效的学生签证；</li>
                </ol>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <li><p>办理时间相对短，审批速度快 ；</p></li>

                    <li><p>可携带亲属；</p></li>

                    <li><p>可在澳洲工作、旅游、读书等；</p></li>
                </ol>
            </div>

            <!-- 2 !-->
            <div id="menu1" class="container tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">简介</a>
                    </div>
                </div>
                <ol>
                    <p>​此类别签证适合来澳洲留学时第一个学生签证的申请是在2011年11月5日之前递交的学生，并且所学专业必须在指定职业清单内，获得签证有效期为18个月。此类别需要做相关485类别的职业评估。</p>
                </ol>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ol>
                    <li>年龄50周岁以下；</li>

                    <li>至少在澳两年全日制课程；</li>

                    <li>获取至少一个大专、本科或以上学历；</li>

                    <li>专业必须在指定职业清单内，并通过485类别的职业评估；</li>

                    <li>雅思平均分6分，每科不低于5分（A类或G类均可）；</li>

                    <li>需持有有效的学生签证；</li>
                </ol>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" color: white; margin-bottom: 0;">优势</a>
                    </div>
                </div>
                <ol>
                    <li><p>办理时间相对短，审批速度快 ；</p></li>

                    <li><p>可携带亲属；</p></li>

                    <li><p>可在澳洲工作、旅游、读书等；</p></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}