{% extends 'base.html' %}
{% block body %}
    <style>
        h3 {
            margin-top: 6%;
        }
    </style>
    <div class="contain" style="padding: 0% 10%;margin: 5%">
        <h3 id="fontcolorredfont"><font color=red>澳康简介</font></h3>
        <hr>

        <p>广东澳康咨询服务有限公司是1996年9月经广东省工商局批准成立的有限责任公司。公司注册经营项目是出国签证咨询及中介服务。</p>

        <p>2002 年3月份，国家公安部已正式公布，认可本公司因私出入境许可证的申请，现为广东省因私出入境移民协会理事会员。</p>

        <p>公司奉行“成功至上，精心服务，信誉第一”的原则，为中国专业人士提供各种移民类别全面、详尽的咨询和评估服务。长期成功办理了全国各地大量的移民申请个案。随着公司的业务不断扩大，与海外移民机构也建立了良好的关系，并在各大使馆、移民局、评审机构和广大申请人中建立了较高的信誉。       </p>

        <p>公司成立至今二十三年，随着中国对外交流联系的进一步深入，公司的业务将会有更大的发展。</p>

        <p>选择了澳康，就是选择了成功。</p>

        <p><font color=blue>中华人民共和国公安部出入境中介许可证号：粤公境准字[2012]005号</font></p>

        <p><font color=blue>广东因私出入境移民协会理事单位</font></p>

        <h3 id="fontcolorredfont-1"><font color=red>澳洲移民代理侯康先生</font></h3>

        <hr>

        <p>侯康先生是具有二十多多年移民经验的资深的澳大利亚移民专家，他持有澳大利亚国家移民代理注册委员会的注册牌照（NO.0743817),澳大利亚伍龙岗大学硕士学位，澳大利亚新南威尔士大学法律系移民法毕业证书，澳大利亚国家注册会计师协会注册会计师牌照（NO.104389）和澳大利亚国家注册翻译牌照（NO.23078）。他在澳洲悉尼创办了励盛国际有限公司（Nexon International Pty. Ltd）,专门为本公司的成功客户提供高素质的澳洲全系列定居服务，建立企业及生意服务和在澳洲转永居签证申请等等后续服务，确保澳康客户无后顾之忧。</p>
    </div>
{% endblock %}