{% extends 'base.html' %}
{% block body %}
    <div class="contain" style="padding: 2% 10%;margin: 5%" >
        <img src="../static/img/Blog/AntiguaAndBarbuda/head.jpeg" height="500" style="margin-left: 10%">

        <h2 style="margin-top: 5%; margin-bottom: 5%"> 安提瓜和巴布达 </h2>

        <div>
        <!-- Nav tabs -->
        <ul class="nav nav-pills  " style="text-align: center">
            <li class="nav-item">
                <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 20px 20px;" data-toggle="tab"
                   href="#home">安提瓜与巴布达国家介绍</a>
            </li>
            <li class="nav-item">
                <a class="nav-link displayNavPill" style="border-radius: 0; padding: 20px 20px;" data-toggle="tab"
                   href="#menu1">投资移民计划</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style=" text-align: left;">
            <div id="home" class=" tab-pane active"><br>
                <p>1493年，哥伦布第二次航行美洲时到达该岛，并已西班牙塞维利亚安提瓜教堂的名字命名该岛。1520年至1629年曾先后遭西班牙和法国殖民者入侵。1632年被英国占领。1667年跟住《布雷达条约》正式成为英国殖民地。1968年成为英国的联系邦并成立内部自治政府。1981年11条约1日宣布独立，成为君主立宪制国家，现为英联邦成员国。安提瓜和巴布达风景旖旎，气候宜人，比北京时差晚12小时，属于热带气候，平均气温27度，经济主要以旅游业为主，人均GDP达13500多美元，居民赋予，社会福利优越。安提瓜和巴布达奉行独立自主、和平友好的外交政策，与美国、加拿大、英国、中国、欧洲等国家保持友好关系，可以自由出入英国、加拿大、新西兰等60多个英联邦国家，畅行欧洲，全球免签138个国家。</p>
                <p>首都：圣约翰（St. John’s）</p>
                <p>官方语言：英语</p>
                <p>货币：东加勒比元</p>
                <p>汇率：1美元=2.7东加元</p>
                <p>人口：9万（2015年）</p>
                <p>国土面积：440平方公里</p>
                <p>圣约翰（St. John’s）：位于安提瓜岛西北海岸，中央低地北部，濒临大西洋，在安提瓜岛西北岸小海湾畔。人口2.9万。</p>
                <p>圣约翰是一座景色优美的海滨城镇，由于长期受殖民统治影响，城市带有明显的欧洲色彩。克拉伦斯大厦坐落在翠绿的山水中，建于1787年，格调新颖别致，它曾经是安提瓜和巴布达总督都的山间别墅，从这里可以俯瞰对面港口的景色、离圣约翰大约4公里的詹姆斯要塞，建于1703年，虽然饱经300年的日晒雨淋、海风侵蚀，纸巾仍完好地傲立在海岸，成为游客观赏的古老建筑。市政府法院大厦中的警察局，在300年前是一座兵营，高大建筑物四周筑有刺刀模样的铁栅栏，显得非常威严，给海滨小城装点上古老的风貌。圣约翰城内的维克拉伦斯公园景色优美，鸟语花香，绿树成荫，给这座海滨城市增色不少。</p>
                <br>
                <h4>交通</h4>
                <p>安提瓜和巴布达位于加勒比海小安的列斯群岛北部背风群岛中，西经61°39′～61°54′、北纬17°02′～17°40′之间，南同瓜德罗普岛相望，西与圣基茨和尼维斯为邻。它由安提瓜、巴布达和雷东达三岛组成。由于地处加勒比中心地带，安巴是该地区航空交通的枢纽，首都圣约翰是天然深水港，有现代化的设施，可停靠万吨级远洋客货轮。维尔·伯德机场位于首都圣约翰东北9公里，有通往北美、欧洲和加勒比地区其他英语国家的航线</p>
                <br>
                <h4>经济</h4>
                <p>安提瓜和巴布达无完整的过敏经济生产体系，是一个上中等收入的国家。2014年，人均GDP13961美元。旅游业是国民经济中最重要的支柱产业，占国民生产总值10%。农业主要产棉花、甘蔗和薯类。工业主要为农产品加工、炼油等。安提瓜和巴布达重视发展旅游业、加工业和农业，积极吸收外资，鼓励兴建公共设施和兴办合资企业。</p>
                <br>
                <h4>教育</h4>
                <p>在安提瓜和巴布达本国，从小学到高中享有免费的英式教育。同时，根据加拿大英联邦奖学金计划，安提瓜公民或永久居民在英国、加拿大等英联邦国家就读可获奖学金；美国大学在安提瓜设有医学院分销，医学院学生可直接获得美国、加拿大临床工作和实习的机会，以及获得ECFMG（外国医学生医师执照考试委员会）资格认证。同时，拥有安巴护照的学生在英国毕业两年内，可以自由逗留，免工作签证。</p>
            </div>
            <div id="menu1" class=" tab-pane fade"><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style=" font-size: 15px; color: white; margin-bottom: 0;">项目优势</a>
                    </div>
                </div>
                <ul class="list-with-dot">
                    <li><p>白金护照免签证138个国家： 自由出入英国、加拿大等60多个英联邦国家，畅行欧盟及申根国，全球免签138个国家。</p></li>
                    <li><p>一步到位简单快捷的移民方式：要求很低，无教育程度、英语水平、工作经历、经商管理要求，无移民监</p></li>
                    <li><p>世界著名的免税天堂</p></li>
                    <li><p>免费的英式教育:在安提瓜和巴布达本国，从小学到高中享有免费的英式教育。同事，根据加拿大英联邦奖学金计划，安提瓜公民或永久居民在英国、加拿大等英联邦国家就读可获奖学金；美国大学在安提瓜设有医学院分校，医学院学生可直接获得美国、加拿大临床实习和工作的机会，以及获得ECFMG（外国医学生医师执照考试委员会）资格认证。安巴护照的学生在英国毕业两年内，可以自由逗留，免工作签。</p></li>
                    <li><p>丰厚的社会福利:终身享受安提瓜和巴布达公民拥有的就医、养老等多项福利。</p></li>
                    <li><p>允许多重国际的身份：安提瓜和巴布达政府允许公民多重国际，享受安提瓜和巴布达公民的好处与优势，同时无需放弃现有国籍。</p></li>
                </ul>
                <br><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style="font-size: 15px; color: white; margin-bottom: 0;">投资方式</a>
                    </div>
                </div>
                <ul class="list-with-dot">
                    <li><p> 捐赠25万美元给国家发展基金</p></li>
                    <li><p>购买40万美元以上由政府核准的地产，拥有该物业5年以上，业主可选择自由出手</p></li>
                    <li><p>个人投资150万美元或合伙投资500万美元以上创办企业，投资期限5年</p></li>
                </ul>
                <br><br>
                <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                    <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                        <a style="font-size: 15px; color: white; margin-bottom: 0;">申请条件</a>
                    </div>
                </div>
                <ul class="list-with-dot">
                    <li><p>主申请人必须满18周岁</p></li>
                    <li><p>无犯罪记录</p></li>
                    <li><p>身体健康</p></li>
                    <li><p>充足经济来源证明</p></li>
                </ul>
                <p>副申请人包括：配偶、未满18周岁的子女，18-25周岁的在校学生，主申请人或配偶65周岁以上的父母或祖父母。</p>
            </div>

        </div>
    </div>
    </div>
{% endblock %}