{% extends 'base.html' %}
{% block body %}
    <div class="contain" style="padding: 2% 10%;margin: 5%">
        <img src="../static/img/Blog/AntiguaAndBarbuda/head.jpeg" height="500" style="margin-left: 10%">

        <h2 style="margin: 50px 0 20px 0;"> 塞浦路斯 </h2>

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-pills  " style="text-align: center">
                <li class="nav-item">
                    <a class="nav-link displayNavPill  active" style="border-radius: 0; padding: 20px 20px;"
                       data-toggle="tab"
                       href="#home">塞浦路斯介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link displayNavPill" style="border-radius: 0; padding: 20px 20px;" data-toggle="tab"
                       href="#menu1">护照项目</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link displayNavPill" style="border-radius: 0; padding: 20px 20px;" data-toggle="tab"
                       href="#menu2">永居项目</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style=" text-align: left;">
                <div id="home" class=" tab-pane active"><br>
                    <p>
                        对于投资移民来说，人们往往会选择那些移民条件宽松的国家进行投资移民。塞浦路斯移民项目越来越受到人们的青睐，这不仅仅是因为购房即可获得塞浦路斯移民身份的缘故，塞浦路斯的完善先进的教育体制，也是很多移民人士看中的要素之一。</p>
                    <p>【国名】：塞浦路斯共和国(The Republic of Cyprus)</p>
                    <p>【面积】：9,251平方公里，其中北部土族区面积3,355平方公里(2008年数据)。</p>
                    <p>
                        【人口】：约113万。其中希腊族占76.8%，土耳其族占10.3%，另有少数亚美尼亚、拉丁和马龙族占1%，外籍人占11.9%。主要语言为希腊语和土耳其语，通用英语。希腊族信奉东正教，土耳其族信奉伊斯兰教。</p>
                    <p>【首都】：尼科西亚(Nicosia)，人口36.3万。年均最高气温31℃～37℃，最低气温5℃～15℃。
                    </p>
                    <p>【简况】：位于地中海东北部，为地中海第三大岛。海岸线全长782公里。属于亚热带地中海型气候，夏季干热，冬季温湿。夏季平均气温28℃～35℃，冬季4℃～10℃。</p>
                    <br>
                    <h4>实行英联邦教育</h4>
                    <p>英国的教育制度，英国的教师授课，让你在塞浦路斯得到纯正的英国教育。大学有：塞浦路斯环球学院、CyprusCollege、Inter College。<br>
                        塞 浦路斯的教育体系与传统欧、美国家教育体系相似。小学、中学实行义务、免费教育制度。大学以私立院校为主，开设从证书、文凭、学士到硕士学位课程，专业设
                        置比较齐全，实行学分制，学生只要得到规定的学分，就能获得相应的学位。塞浦路斯的大学国际化程度较高，主要体现在两方面：一是和英、美等国家的许多大学
                        学分和学位相互承认;二是学校之间相互转学不受限制。塞浦路斯的大学年学费和英美等国相比是非常低廉的，不到英美大学的1/2。</p>
                    <br>

                    <h4>税收计划</h4>
                    <p>
                        2004年塞浦路斯加入欧盟以后，对其税收管理体制进行了大幅改革，不仅与欧盟规定保持一致，同时亦完全符合OECD承诺要求。总体而言，塞凭借优越的地理位置，较低的税率水平，欧盟成员国身份及发达的双重征税协定网络，成为跨国公司进行国际税收筹划的理想选择地之一。</p>
                    <br>
                    <h4>社会福利</h4>
                    <p>塞浦路斯的福利制度基本与欧洲国家的福利制度相同，属于高福利国家。</p>
                    <br>
                </div>
                <div id="menu1" class=" tab-pane fade"><br>
                    <p>2014年3月28日，塞浦路斯政府宣布更改外国投资者通过归化入籍成为塞浦路斯(欧盟)公民，并获得塞浦路斯护照的立法，使其比以往更加便利实惠。欧盟
                        公民指任何一个拥有欧盟国籍的人。欧盟护照的持有人可以在欧洲经济区(欧盟、冰岛、列支敦士登、挪威和瑞士)自由出入，居住，学习和工作，无需签证。</p>
                    <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                        <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                            <a style=" font-size: 15px; color: white; margin-bottom: 0;">项目优势</a>
                        </div>
                    </div>
                    <ul class="list-with-dot">
                        <li><p>政策明确：3个月之内即可获欧盟护照，100%获批。</p></li>
                        <li><p>年龄宽松：可带走28岁以下在读孩子及配偶入籍。</p></li>
                        <li><p>世代相传：房产拥有永久产权，欧盟身份世代相传。</p></li>
                        <li><p>畅通全球：自由往返28个欧洲国家，免签全球157个国家，享受欧盟公民待遇。</p></li>
                        <li><p>品质生活：28个欧盟成员国以及瑞士、挪威和冰岛，自由居住、学习、生活和工作，享受欧 盟教育、医疗、工作、失业等福利待遇。</p></li>
                    </ul>
                    <br><br>
                    <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                        <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                            <a style="font-size: 15px; color: white; margin-bottom: 0;">申请条件</a>
                        </div>
                    </div>
                    <ul class="list-with-dot">
                        <li><p> 无犯罪纪录;</p></li>
                        <li><p>投资净值250万欧元(非商业用房);</p></li>
                        <li><p> 或投资净值250万欧元房产加净值50万欧元自住房;</p></li>
                        <li><p> 主申请人年满18周岁以上;</p></li>
                        <li><p> 为持有公民身份，投资者必须始终持有至少50万欧元的房产，其余投资可在3年后出售;</p></li>

                    </ul>
                    <br><br>
                </div>
                <div id="menu2" class=" tab-pane fade"><br><br>
                    <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                        <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                            <a style=" font-size: 15px; color: white; margin-bottom: 0;">项目优势</a>
                        </div>
                    </div>
                    <ul class="list-with-dot">
                        <li><p>审理速度快，2个月即可取得永居身份;</p></li>
                        <li><p>移民监，只需每两年登陆一次，不影响在国内的正常生活与工作;</p></li>
                        <li><p>门槛低，无资金来源及经商经验的要求;</p></li>
                        <li><p>投资额低，接受房产投资，稳定无风险;</p></li>
                        <li><p>承认双重国籍;</p></li>
                        <li><p>一人申请，全家人可获得移民身份;</p></li>
                        <li><p>累计住满7 年可以入籍，取得护照后，自由往返151个国家和地区;</p></li>
                        <li><p>投资的房产可以自己住，也可以出租，没有限制;</p></li>
                        <li><p>永久地契，可世代相传。</p></li>

                    </ul>
                    <br><br>
                    <div style="width: 100%; border-bottom: #051c2c solid 1px; margin-bottom: 2%;">
                        <div style="background-color: #051c2c; width: 130px; padding: 5px 30px;">
                            <a style="font-size: 15px; color: white; margin-bottom: 0;">申请条件</a>
                        </div>
                    </div>
                    <ul class="list-with-dot">
                        <li><p> 主申请人必须年满18 周岁，无犯罪记录;</p></li>
                        <li><p>在塞浦路斯购买净值30 万欧元或以上的房产;</p></li>
                        <li><p> 在个人及配偶名下有等值30 万欧元资产证明，并提供证明文件(存款、房产、公司资产均可);</p></li>

                    </ul>
                    <br><br>
                </div>

            </div>
        </div>
    </div>
{% endblock %}